.cards {
  padding: 20px 0 40px;
  margin: 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.cards__list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px;
  }
}
