.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 500;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  padding: 32px 50px;
  box-sizing: border-box;
  margin: 0;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/x.svg);
  top: 32px;
  right: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0.4;
  z-index: 2;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background: url(../images/x-white.svg) center / 40px 40px no-repeat;
  position: absolute;
  z-index: 3;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 8px 0 0;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  color: #212121;
  line-height: 1;
  font-weight: 500;
  padding: 16px 12px;
}

.modal__input_type_error {
  border: solid #ff0000;
  opacity: 0.6;
}

.modal__input:hover {
  cursor: pointer;
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  display: block;
  color: #ff0000;
  opacity: 70%;
  font-size: 16px;
  margin-top: 8px;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
  display: block;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  border-radius: 8px;
  color: #fcf5e5;
  padding: 18px 32px;
  max-width: 156px;
  max-height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__submit-btn_inactive {
opacity: 50%;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  position: relative;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  color: #fff;
  background: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0 0;
  display: inline-block;
  font-size: 20px;
  line-height: 120%;
}

@media screen and (max-width: 627px) {
  .modal__image {
    max-height: none;
  }

  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .modal__submit-btn {
    max-width: none;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
